@import "./style/default.css";
@import "./style/root.css";
@import "./style/section-a.css";
@import "./style/section-b.css";
@import "./style/section-c.css";
@import "./style/section-x.css";
@import "./style/newapp.css";

:root{
  --search-bgclr: #fff;
  --search-height: 2rem;
  --search-border-radius: 20px;
  --search-icon-border-radius: 50px;
  
  --set-bgclr: hsla(0, 0%, 89%, 0.243);
  --set-back-clr: #8484841c;
  --set-input-clr:#fff;

  --border-1: 1px solid #000;
  --border-radius-10: 10px;
  --border-radius-15: 15px;
  --border-radius-20: 20px;
  --border-radius-25: 25px;
  --border-radius-30: 30px;
  --newapp-back-clr: #8484845d;
  --newapp-bgclr: #ffffff;
  --app-bgclr: hsla(0, 0%, 89%, 0.32);
  --bg-blur-4: blur(4px);
  --bg-blur-20: blur(20px);

  --box-shadow-inset-1:  rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  --box-shadow-inset-2: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px inset;
  --box-shadow-inset-3: 2px 2px 10px #bebebe,0px -1px 10px #ffffff;

  --haedapp-align-checked-bgclr:#fefefe;
  --haedapp-align-bgclr:#f2f2f2;

  --app-set-icon-size: 2rem;
}
/* @media (prefers-color-scheme: dark) {
  :root{
    --set-bgclr: #00000096;
  }
} */

* {
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    margin: 0;padding: 0;
    text-decoration: none;
}
html{
  width: 100vw;
  height: 100vh;
}
body{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    /* -webkit-scrollbar: none; */
}

.dpnone{
    display: none;
}
.thinline{
  transform: scaleY(.3);
  margin: 10px 0;
  width: 100%;
  border: 1px solid #000;
}
.thinline2{
  transform: scaleY(.2);
  width: 100%;
  border: 1px solid #000;
}
/* -------------------------------------- */
