@import "./style/default.css";
@import "./style/root.css";
@import "./style/section-a.css";
@import "./style/section-b.css";
@import "./style/section-x.css";
@import "./style/newapp.css";

:root{
  --search-bgclr: #fff;
  --search-height: 2rem;
  --search-border-radius: 20px;
  --search-icon-border-radius: 50px;
  --set-bgclr: #ffffff7c;
  --set-back-clr: #8484841c;
  --border-radius-1: 10px;
  --newapp-back-clr: #8484845d;
  --newapp-bgclr: #ffffff;
}

* {
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    margin: 0;padding: 0;
    text-decoration: none;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-scrollbar: none;
}

.dpnone{
    display: none;
}
.thinline{
  transform: scaleY(.3);
  margin: 10px 0;
  width: 100%;
  border: 1px solid #000;
}
.thinline2{
  transform: scaleY(.2);
  width: 100%;
  border: 1px solid #000;
}
/* -------------------------------------- */
