input, select, textarea{
    border: 0;
    outline: none;
    background: none;
}
textarea{
  resize: none;
}
button{
  background-color: var(--clr-none);
    border: 0;
    outline: none;
    &:hover{
      cursor: pointer;
    }
}

ul, ol, li {list-style: none;}
input, select, textarea, button, a, label {-webkit-tap-highlight-color:rgba(0,0,0,0);}
