.section-b{
    width: 100%;
}
.app-search{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */


    
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); */
    
    gap: 5px;
    width: 100%;
    padding: 10px;
 
    /* @media (max-width: 1000px) {
        flex-direction: column;
    } */
}

.searchbar{
    flex-basis: auto;
    /* flex-grow: 1; */

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--search-bgclr);
    padding: 5px 0; 
    border-radius: var(--border-radius-30);
    
    transition: width ease-in-out;
    transition-duration: 1s;

    & input[type=text]{
        width: calc(100% - 5px);
        height: var(--search-height);
        padding: 0 10px;
        font-size: 1rem;
        color: var(--color-font);
    }
    & .search-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;

        width: var(--search-width);
        height: var(--search-width);
        border: 1px solid black;
        border-radius: var(--search-icon-border-radius);
    }
    & .search-submit{
        display: none;
    }
}
/* ============== */
.searchbar input[type=text], .search-submit{display: none;}

#google-toggle:checked ~ .search-google{width: 100%;}
#youtube-toggle:checked ~ .search-youtube{width: 100%;}
#ym-toggle:checked ~ .search-ym{width: 100%;}

#google-toggle:checked ~ .searchbar #google-input,
#google-toggle:checked ~ .searchbar .google-submit{
    display: flex;
}
#youtube-toggle:checked ~ .searchbar #youtube-input,
#youtube-toggle:checked ~ .searchbar .youtube-submit{
    display: flex;
}
#ym-toggle:checked ~ .searchbar #ym-input,
#ym-toggle:checked ~ .searchbar .ym-submit{
    display: flex;
}