#xtoggle[type=checkbox]{display: none;}
.section-x,.back{transform: translate(100%);}
#xtoggle:checked ~ .section-x,
#xtoggle:checked ~ .back{
    transform: translateX(0);
}
.section-x{
    display: block;
    width: 350px;
    height: 100vh;
    height: 100dvh;
    background-color: #c6c6c67c;
    overflow-y: scroll;
    -webkit-scrollbar: none;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translate(100%);
}
.back{
    width: 100%;
    height: 100%;
    /* background-color: #00000051; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    cursor:crosshair;
}
.xtoggle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px #000 solid;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 13;
    &:hover{
        cursor: pointer;
    }
}

/* ------------------------- */
.set-headapp{
    text-align: center;
}