#xtoggle[type=checkbox]{display: none;}
.section-x,.back{transform: translate(100%);}
#xtoggle:checked ~ .section-x,
#xtoggle:checked ~ .back{
    transform: translateX(0);
}
.back{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    cursor:crosshair;
    /* background-color: var(--set-back-clr); */
}
.section-x{
    z-index: 101;
    position: fixed;
    top: 0;
    right: 0;

    display: block;
    width: 350px;
    height: 100vh;
    height: 100dvh;
    padding: 60px 5px 10px 5px;

    background-color: var(--set-bgclr);
    overflow-y: scroll;
    -webkit-scrollbar: none;
    overflow-y: scroll;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: all .2s ease-in-out;
    box-shadow: var(--box-shadow-inset-2);
    & input[type=text], select, textarea{
        border: 1px solid #9e9e9e5b;
        border-radius: var(--border-radius-15);
        outline: none;
        padding: 2px 10px;
        background-color: var(--set-input-clr);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
}
.xtoggle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px #000 solid;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 102;
    &:hover{
        cursor: pointer;
    }
}

/* ------------------------- */
.set-headapp{
    text-align: center;
    & > div{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        padding: 10px;
        
        text-transform: uppercase;
        text-align: center;
        border-radius: var(--border-radius-10);
    }
    & p{
        text-transform: uppercase;
        text-align: center;
    }
    & .set-headtext{
        flex-wrap: wrap;
        & #set-headtext{
            width: 100%;
            padding-top: 10px;
            text-align: center;
            background: #ffffffc3;
        }
    }
    & .haedapp-align{
        gap:0;
        & label{
            width: 100%;
            padding: 8px 0;
            box-shadow: var(--box-shadow-inset-3);
            &:hover{
                transform: scale(1.02);
                background-color: var(--haedapp-align-checked-bgclr);   
            }
            &:active{
                transform: scale(.98);
            }
        }
        & label:nth-of-type(1){
            border-top-left-radius: var(--border-radius-15);
            border-bottom-left-radius: var(--border-radius-15);
        }
        & label:nth-of-type(2){
            border-left: none;
            border-right: none;
        }
        & label:last-child{
            border-top-right-radius: var(--border-radius-15);
            border-bottom-right-radius: var(--border-radius-15);
        }
    }
}
/* -------------------------- */
.searchmode{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 10px;
    
    text-transform: uppercase;
    text-align: center;
    border-radius: var(--search-border-radius);
    & select{flex-basis: 50%;}
    
}