.section-a{
    display:flex;
    justify-content: space-around;
    width: 100%;
}
.headapps{
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding: 20px 20px 10px 20px;
    display: block;
    text-align: var(--headapps-textalign);

}
.app-headtime{
    font-weight: bold;
}