.section-c{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); */
    gap: 10px;


    display: flex;
    flex-wrap: wrap;
    /* justify-content:left; */
    /* width: 100%; */
    margin: auto;
    padding: 15px;
    /* @media (max-width: 1100px) {
        justify-content: center;
    }
    @media (max-width: 700px) {
        flex-direction: column;
    } */
    
    & .app{
        flex-grow: 1;
        /* max-width: 500px;
        min-width: 300px; */
        flex-basis:350px;
        /*display: flex;
        flex-direction: column;
        width: 100%; */
        /* max-width: 400px; */
        padding: 10px;
        margin-bottom: auto;

        background-color: rgba(204, 223, 240, 0.677);
        border: var(--border-1);
        border-radius: var(--border-radius-20);
        
        /* @media (max-width: 1000px) {
            flex-basis: 33%;
        } */
        
        & .app-header{
            position: relative;

            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            width: 100%;
            padding-left: var(--app-set-icon-size);
            
            & .app-title{
                flex-grow: 1;
                text-align: center;
            }
            & .app-set-icon{
                
                flex-basis: var(--app-set-icon-size);;
                width: var(--app-set-icon-size);
                height: var(--app-set-icon-size);
                border: var(--border-1);
            }
        }
        & .toggle{
            cursor: pointer;
        }
        & .app-print{
            width: 100%;
            /* Memo */
            & textarea{
                width: 100%;
                text-align: center;
                padding: 10px 10px 0 10px;
            }
            /* Task */
            & .task-bar{
                display: flex;
                align-items: center;
                gap: 10px;

                width: 100%;
                padding: 15px 0px;
                margin-bottom: 10px;
                border-radius: var(--radius-round);
                & input{
                    padding: 0px 5px;
                    color: var(--color-font);
                    width: 100%;
                    height: var(--input-height-15);
                }
                & .fa-plus{
                    cursor: pointer;
                }
                & input:valid ~ button .fa-plus{
                    color: var(--color-font);
                }
            }
        }
    }
}


/* --------- */