.section-b{
    width: 100%;
}
.app-search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    padding: 10px;
 
}
/* 
searchbar
    >search-icon>i
    >input
    >search-submit>i
*/
.searchbar{
    flex-basis: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--search-bgclr);
    padding: 5px 0; 
    border-radius: var(--border-radius-30);

    & input[type=text]{
        width: 100%;
        height: var(--search-width);
        padding: 0 10px;
        font-size: 1rem;
        color: var(--color-font);
    }
    & .search-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;

        width: var(--search-width);
        height: var(--search-width);
        border-radius: var(--search-icon-border-radius);
    }
    & .search-submit{display: none;}
    & .fa-youtube{color: red;}
}
/* ============== */
.searchbar input[type=text], 
.search-submit{
    display: none;
}

#google-toggle:checked ~ .search-google{width: 100%;}
#youtube-toggle:checked ~ .search-youtube{width: 100%;}
#ym-toggle:checked ~ .search-ym{width: 100%;}

#google-toggle:checked ~ .searchbar #google-input,
#google-toggle:checked ~ .searchbar .google-submit{
    display: flex;
    max-width: 100%;
}
#youtube-toggle:checked ~ .searchbar #youtube-input,
#youtube-toggle:checked ~ .searchbar .youtube-submit{
    display: flex;
}
#ym-toggle:checked ~ .searchbar #ym-input,
#ym-toggle:checked ~ .searchbar .ym-submit{
    display: flex;
}




/* ===== */